body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  background-color: lightgoldenrodyellow;
}

h3{
  text-decoration: none;
}

img{
  width: 70%;
  height: auto;
}
.detail img{
  width: 40%;
  height: auto;
}

header{
  background-color: rgb(208, 22, 22);
  color: white;
  padding-right: 3%;
  display: grid;
  grid-template-columns: 4fr 2fr;
  text-align: center;
  align-items: center;
}
header nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
}

button {
  background-color: rgb(156, 155, 155);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.chip.active {
  background-color: purple;
  color: white;
}

.page, .card, .card-body, .detail, .detail-body, .subdivider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desc{
  align-items: justify;
}

.detail{
  width: 80%;
}

.card, .detail{
  border: 15px solid;
  border-radius: 90px;
  padding: 10px;
  margin: 10px;
  width: 60vw;
}

.types{
  display:grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.divider{
  padding-left: 3%;
  padding-right: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}


.grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 0.3%;
  padding: 1%;
}
.card{
  width: 80%;
}